ol {
  list-style: upper-roman;
  color: Red;

}

ul  {
  list-style-type: square;
  color: Red;
}

h1 {
  color: Black;
  text-align: left;
}

p   {
  color: blue;
  text-shadow: 2px 2px 5px yellow;
}
